$--white: #259cf0;
$--black: #898989;
$--very-light-pink: #7e0404;
$--text-input-field: #e6e6e6;
$--gray-80: #acacacc3;
$--hospital-green: #7cc386;
$--sm: 14px;
$--md: 16px;
$--lg: 24px;


.CreateAccount {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}
.CreateAccount-container {
	background-color:white;
	border-radius: 1rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height:70vh;
	padding:.8rem;
	width: 22rem;
}

.logo {
	width: 150px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
.title {
	color: $--gray-80;
	font-size: $--lg;
	margin-bottom: 36px;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
}
.form div {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: var($--sm);
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: $--text-input-field;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var($--md);
	padding: 6px;
	margin-bottom: 12px;
	color: black;
}
.input-name,
.input-email,
.input-password {
	margin-bottom: 22px;
}
.input::placeholder {
	color: $--hospital-green;
	font-size: $--md;
}

.primary-button {
	background-color: $--hospital-green;
	border-radius: 8px;
	border: none;
	color: var($--white);
	cursor: pointer;
	font-size: var($--md);
	font-weight: bold;
	height: 50px;
	margin-top: 1rem;
	width: 100%;
}
.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media (max-width: 640px) {
	.form-container {
		height: 100%;
	}
	.form {
		height: 100%;
		justify-content: space-between;
	}
}
