$--white: #ffffff;
$--black: #000000;
$--very-light-pink: #078300; 
$--text-input-field: #f10000;
$--gray-20: #acacac;
$--hospital-green: #6af5b6;
$--sm: 14px;
$--md: 16px;
$--lg: 18px;

.ProductItem {
	width: fixed;
	padding: 1rem;
	border: $--hospital-green solid 1px;
	border-radius:5%;
	background-color: $--white;
}
.ProductItem img {
	border-radius: 20px;
	object-fit: cover;
	z-index: 0;
}
.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}
.product-info figure {
	margin: 0;
}
.product-info figure img {
	width: 35px;
	height: 35px;
}
.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: $--md;
	margin-top: 0;
	margin-bottom: 4px;
	color: $--very-light-pink;
}
.product-info div p:nth-child(2) {
	font-size: $--sm;
	margin-top: 0;
	margin-bottom: 0;
	color: $--black;
}
.add-to-cart-btn {
	border: $--black 1px solid;
}
.disabled {
	cursor: not-allowed;
}
@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
	}
	.ProductItem {
		width: 140px;
	}
	.ProductItem img {
		width: 140px;
		height: 140px;
	}
}
